<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%- config.description %>">
    <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
    <title><% if (page.title) { %><%- page.title %>-<% } %><%- theme.SEOTitle %></title>
<% if (theme.use_cdn && (theme.cdn_provider == 'bootcdn')) { %>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/academicons/1.8.6/css/academicons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <% if (theme.math) { %>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.13.11/katex.min.css">
    <% } %>
<% } else if (theme.use_cdn && (theme.cdn_provider == 'cdnjs')) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <% if (theme.math) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css" >
    <% } %>
<% } else { %>
    <%- css('/css/bootstrap.min.css') %>
    <%- css('/css/academicons.min.css') %>
    <%- css('/css/font-awesome.all.min.css') %>
    <%- css('/css/katex.min.css') %>
<% } %>
    <%- css('/css/adagio.css') %>
</head>